.footer {
  margin-top: rem(12px);
}

.text {
  display: block;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.links {
  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-md);
  }
}

