.programBoxRegular {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 100%;
    max-width: 100px;
}

.spacer {
    height: 8px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 16px;
}

.text {
    width: 100%;
    margin-bottom: 16px;
}

.text>div {
    margin-bottom: 8px;
}

.button {
    width: 100%;
}