input[type=text], input[type=email],
textarea {
    outline: none;
    height: 35px;
    border-radius: 6px;
    border-width: 1px;
    padding: 8px;
    box-sizing: border-box;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus { 
    border-width: 2px;
    padding: 7px;
}

@media(prefers-color-scheme: dark) {

    input[type=text],
    input[type=email],
    textarea {
        color: #c5d1de;
        background-color: #22272e;
        border: 1px solid #444c56;
    }

    input[type=text]::placeholder,
    input[type=email]::placeholder,
    textarea::placeholder {
        color: #c5d1de;
        opacity: 0.5;
        font-weight: 450;
    }

    input[type=text]:focus,
    input[type=email]:focus,
    textarea:focus {
        border-color: #539bf5;
    }
}


@media(prefers-color-scheme: light) {

    input[type=text],
    input[type=email],
    textarea {
        background-color: #ffffff;
        border: 1px solid #d0d7de;
    }

    input[type=text]:focus,
    input[type=email]:focus,
    textarea:focus {
        background-color: #ffffff;
        border: 2px solid #0969da;
    }
}